@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.home {
    height: 100%;
}

.home button {
    color: white;
    background-color: #1A2E35;
    outline: none;
    border: none;
    border-radius: 4rem;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    min-width: max-content;
}

.home header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 1rem 7rem;
    padding: 1rem;
    max-width: 100%;
}

.home header span {
    margin-left: 2.5rem;
    padding: 1rem 1rem;
    max-width: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
}

.home header span img {
    max-height: 10vh;
}

.home header span h1 {
    font-size: 3rem;
    letter-spacing: 0.2rem;
    color: #1A2E35;
}

.home nav {
    background-color: #D5F7E6;
    position: fixed;
    height: 100vh;
    width: 6rem;
    top: 0;
    padding: 2rem 0;
}

.home nav ul {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 5rem;
    list-style: none;
}

.home nav ul li {
    padding: 0.2rem;
    transition: 0.3s ease;
    text-align: center;

}

.home nav ul li:nth-child(1) .navbar-icon {
    font-size: 2.5rem;
}

.home nav ul li .link p {
    display: none;
}

.home nav ul li .navbar-icon {
    font-size: 1.7rem;
    color: #1A2E35;
}

.home nav ul li:hover {
    transform: scale(1.1);
}

.home nav ul li:active {
    transform: scale(1);
}

.home main section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 6rem;
}

.home main section article {
    margin: 0 0 0 5rem;
    max-width: fit-content;
    padding-right: 3rem;
}

.home main section article h1 {
    font-size: 3.5rem;
    font-weight: bolder;
    margin: -3rem 1rem 2rem 0;
    line-height: 4.8rem;
}

.home main section article button {
    margin-top: 4rem;
    transition: 0.5s ease;
}

.home main section article button:hover {
    transform: scale(1.1);
}

.home main section article button:active {
    background-color: #122228;
}

.home main section article button .link {
    text-decoration: none;
    color: white;
}

.home main section img {
    width: 80vw;
    margin: -2rem 3rem 2rem 4rem;
}


.home main #second img {
    width: 50vw;
    margin: 2rem 0rem 2rem 2rem;
}

.home main #second article h1 {
    line-height: 4.8rem;
}

.home main #second article p {
    margin-right: 2rem;
}

@media (max-width: 1430px) {

    .home main section {
        margin-top: 0rem;
    }

    .home main section article h1 {
        font-size: 3rem;
        line-height: 3.8rem;
        margin-bottom: -1rem;
    }

    .home main #second article h1 {
        font-size: 3rem;
        line-height: 3.8rem;
        margin-bottom: -1rem;
    }

    .home main section article p {
        display: none;
    }

    .home main section img {
        width: 30vw;
    }

    .home main #second img {
        width: 30vw;
    }

    .home footer h1 {
        display: none;
    }

    .home footer ul {
        gap: 0rem;
        margin: 0 auto;
    }

    .home footer ul li {
        transform: scale(0.8);
        margin: 2rem -2rem;
    }

    .home footer p {
        position: absolute;
    }
}

.home footer {
    bottom: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    border-top: 0.1rem solid darkgrey;
    margin: 3rem 0 0 6rem;
    padding: 3rem;
}

.home footer h1 {
    margin: 1.5rem -3rem 2rem 3rem;
    color: #6c6c6c;
    font-size: 3rem;
}

.home footer ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 4rem;
    list-style: none;
}

.home footer ul li {
    height: 4rem;
    width: 4rem;
    background-color: #1A2E35;
    border-radius: 1.5rem;
    padding: 1.5rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
}

.home footer ul li .socials {
    color: white;
    font-size: 2.5rem;
}

.home footer ul li a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    margin-top: 0.4rem;
}

.home footer p {
    color: grey;
    font-size: 1.2rem;
    margin: -1rem -1rem 0 0;
}